<header>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Here's what I'm currently working on...</h1>
            <%= link_to "Check it out!", 'https://itunes.apple.com/us/app/family-health-on-call/id967017741?mt=8', class: "btn btn-outline btn-xl page-scroll" %>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <img src="/assets/images/fhoc-ios-app.png" class="img-responsive" alt="">
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--<section id="download" class="download bg-primary text-center">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-8 col-md-offset-2">-->
        <!--<h2 class="section-heading">Discover what all the buzz is about!</h2>-->
        <!--<p>Our app is available on any mobile device! Download now to get started!</p>-->
        <!--<div class="badges">-->
          <!--<a class="badge-link" href="#"><img src="/assets/google-play-badge.svg" alt=""></a>-->
          <!--<a class="badge-link" href="#"><img src="/assets/app-store-badge.svg" alt=""></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<section id="ios" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>iOS Applications</h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen" id="device-default">
                <img class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item" id="feature-item-fhoc">
                <a href="https://itunes.apple.com/us/app/family-health-on-call/id967017741?mt=8">
                  <img src="/assets/fhoc-icon.jpg" class="img-responsive" alt="">
                  <h3>Family Health On Call</h3>
                  <p class="text-muted">Children's on call nurse application</p>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item" id="feature-item-dell">
                <a href="https://itunes.apple.com/us/app/dell-mobile-workspace/id825145485?mt=8">
                  <img src="/assets/dell-icon.jpg" class="img-responsive" alt="">
                  <h3>Dell Mobile Workspace</h3>
                  <p class="text-muted">Email, contacts, calendar, and file storage - all in one!</p>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item" id="feature-item-diglister">
                <a href="https://itunes.apple.com/us/app/gas-monitor-simulator/id362628351?mt=8">
                  <i class="icon-present text-primary"></i>
                  <h3>Diglister</h3>
                  <p class="text-muted">Quote your friends!</p>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item" id="feature-item-gas">
                <a href="https://itunes.apple.com/us/app/gas-monitor-simulator/id362628351?mt=8">
                  <img src="/assets/gas-icon.jpg" class="img-responsive" alt="">
                  <h3>Gas Monitor Simulator</h3>
                  <p class="text-muted">Allows a trainer to send simulated gas readings wirelessly to students during a hazardous gas training session.</p>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item" id="feature-item-matter">
                <a href="https://itunes.apple.com/us/app/matter-photo-messenger/id952568512?mt=8">
                  <img src="/assets/matter-icon.jpg" class="img-responsive" alt="">
                  <h3>Matter</h3>
                  <p class="text-muted">A messaging app to turn those hard fashion choices into something EASY by QUICKLY polling your friends.</p>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item" id="feature-item-boxer">
                <a href="https://itunes.apple.com/us/app/vmware-boxer/id1087506559?mt=8">
                  <img src="/assets/boxer-icon.jpg" class="img-responsive" alt="">
                  <h3>VMware Boxer</h3>
                  <p class="text-muted">VMware Boxer is the most innovative email, calendar and contacts app available for iPhone!</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta" id="web-app-1">
  <div class="cta-content">
    <div class="container">
      <h2>Web Apps</h2>
      <h3>Family Health On Call</h3>
      <a href="https://www.familyhealthoncall.com/" class="btn btn-outline btn-xl page-scroll">Check it out!</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>
<section id="contact" class="contact bg-primary">
  <div class="container">
    <h2>Look <i class="fa fa-eye"></i> me up!</h2>
    <ul class="list-inline list-social" id="contact-links">
      <!--<li class="social-twitter">-->
        <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
      <!--</li>-->
      <li class="appventures">
        <a href="http://appventur.es/">
          <img src="/assets/appventures-icon.png" class="img-responsive" alt="">
        </a>
      </li>
      <li class="social-linkedin">
        <a href="https://www.linkedin.com/in/william-saults-66343329"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</section>