<footer>
  <div class='container'>
    <small>
      © <span id="year"><%= Date.today.year %></span> Template by: Start Bootstrap - All Rights Reserved.
    </small>
    <nav>
      <ul class='list-inline'>
        <!--<li><%= link_to "About",   about_path %></li>-->
        <!--<li><%= link_to "Contact", contact_path %></li>-->
        <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
      </ul>
    </nav>
  </div>
</footer>