<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "will saults", home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><%= link_to "Home",   '#' %></li>-->
        <%= link_to image_tag("mountains_icon.png", alt: "Mountains", id: "mountains"), mountains_path %>
      </ul>
    </nav>
  </div>
</header>